<h3 style='align:center;padding:10px;margin:10px;'><%=@post.post_name.capitalize%></h3>

<div class="form">
    <p style="font-style: italic;">Created: <%=@post.created_at%></p>
    <br>
    <p><%=@post.description%><p>
    <br>
    <%= @post.location %>
    <br>
    <span>RM :</span><%= @post.payment %>
    <br>
</div>